.resume{
  overflow: hidden;
  margin: 0 auto;
  width: 70%;
  // height: 100%;
  h1{
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif;
  }
  .resume-header{
    width: 100%;
    height: 300px;
    background-color: #c0dfa8;
    img{
      width: 300px;
      height: 300px;
      float: left;
    }
    .contact-info{
      color: #fff;
      text-align: center;
      h1{
        margin: 0;
      }
      p{
        color: #919f86;
      }
    }
  }
  .resume-sidebar{
    clear: both;
    width: 300px;
    height: 700px;
    background-color: #e4ecde;
    padding: 0 25px;
    h1{
      padding-top: 50px;
      padding-bottom: 20px;
      color: #919f86;
      margin: 0;
    }
    p{
      margin: 0;
      color: #545454;
    }

    .skills{
      h1{
        padding-bottom: 30px;
      }
      p{
        float: left;
        line-height: 0.1em;
        margin-bottom: 20px;
      }
      .horizontal-line{
        border-bottom: 3px solid #545454;
        float: right;
        text-align: left;
      }
      .html{
        .horizontal-line{
          width: 50%;
        }
      }
      .css{
        clear: both;
        .horizontal-line{
          width: 40%;
        }
      }
      .js{
        clear: both;
        .horizontal-line{
          width: 20%;
        }
      }
      .jquery{
        clear: both;
        .horizontal-line{
          width: 30%;
        }
      }
    }
  }
}
