@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");
html, body {
  font-family: sans-serif; }

header {
  position: relative;
  color: #fff;
  background-image: url("/images/rainbow_wood.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 900px; }
  header h1 {
    margin: 0;
    font-size: 10em;
    padding-top: 170px;
    text-align: center; }
  header .audio-control {
    float: right;
    margin-right: 350px;
    margin-top: 10px; }
    header .audio-control button {
      position: fixed;
      background: none;
      border: none; }
      header .audio-control button .fa {
        position: absolute;
        top: 0;
        right: 215px;
        color: #ff8585;
        font-size: 2.5em;
        margin-right: 5px; }
      header .audio-control button .fa-pause-circle {
        display: none; }
      header .audio-control button p {
        font-size: 1.5em;
        display: inline;
        text-decoration: underline; }
  header .greeting {
    text-align: center;
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: bold; }
    header .greeting img {
      border-radius: 50%;
      border: 2px solid #fff;
      width: 175px;
      height: 175px; }

nav {
  position: absolute;
  font-size: 3em; }

.main-nav {
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  padding-left: 25px; }
  .main-nav ul {
    padding: 0; }
  .main-nav a {
    color: #fff;
    text-decoration: none; }
  .main-nav li {
    list-style-type: none; }
  .main-nav .hidden-nav {
    display: none; }

.social-nav {
  position: fixed;
  text-decoration: none;
  padding-right: 25px;
  display: inline;
  top: 0;
  right: 0; }
  .social-nav a {
    text-decoration: none;
    color: #fff; }

.resume {
  overflow: hidden;
  margin: 0 auto;
  width: 70%; }
  .resume h1 {
    text-transform: uppercase;
    font-family: "Open Sans Condensed", sans-serif; }
  .resume .resume-header {
    width: 100%;
    height: 300px;
    background-color: #c0dfa8; }
    .resume .resume-header img {
      width: 300px;
      height: 300px;
      float: left; }
    .resume .resume-header .contact-info {
      color: #fff;
      text-align: center; }
      .resume .resume-header .contact-info h1 {
        margin: 0; }
      .resume .resume-header .contact-info p {
        color: #919f86; }
  .resume .resume-sidebar {
    clear: both;
    width: 300px;
    height: 700px;
    background-color: #e4ecde;
    padding: 0 25px; }
    .resume .resume-sidebar h1 {
      padding-top: 50px;
      padding-bottom: 20px;
      color: #919f86;
      margin: 0; }
    .resume .resume-sidebar p {
      margin: 0;
      color: #545454; }
    .resume .resume-sidebar .skills h1 {
      padding-bottom: 30px; }
    .resume .resume-sidebar .skills p {
      float: left;
      line-height: 0.1em;
      margin-bottom: 20px; }
    .resume .resume-sidebar .skills .horizontal-line {
      border-bottom: 3px solid #545454;
      float: right;
      text-align: left; }
    .resume .resume-sidebar .skills .html .horizontal-line {
      width: 50%; }
    .resume .resume-sidebar .skills .css {
      clear: both; }
      .resume .resume-sidebar .skills .css .horizontal-line {
        width: 40%; }
    .resume .resume-sidebar .skills .js {
      clear: both; }
      .resume .resume-sidebar .skills .js .horizontal-line {
        width: 20%; }
    .resume .resume-sidebar .skills .jquery {
      clear: both; }
      .resume .resume-sidebar .skills .jquery .horizontal-line {
        width: 30%; }

.about {
  width: 100%;
  height: 700px;
  background-color: #ff8585; }
  .about .container {
    padding-top: 50px;
    margin: 0;
    margin-right: -5px;
    width: 100%; }
  .about .cool-fact {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin-right: 5px; }
    .about .cool-fact img, .about .cool-fact p {
      border-radius: 50%;
      width: inherit;
      height: inherit;
      border: 3px solid white; }
    .about .cool-fact img {
      position: relative; }
    .about .cool-fact p {
      top: 0;
      right: 0;
      position: absolute;
      display: none;
      text-align: center;
      color: white; }

.pstreet, .ctv {
  margin-left: 75px; }

.music {
  margin-left: 10px; }
  .music p {
    background-color: orange; }

#pstreet-p {
  background-color: yellow; }

#lipstick-p {
  background-color: red; }

#knits-p {
  background-color: pink; }

#tennis-p {
  background-color: lime; }

#frosting-p {
  background-color: lightblue; }

#iphone-p {
  background-color: teal; }

#writing-p {
  background-color: lightgreen; }

#only-p {
  background-color: purple; }

#foodtruck-p {
  background-color: pink; }

#apple-p {
  background-color: orange; }

#ctv-p {
  background-color: darkred; }

#puzzle-p {
  background-color: limegreen; }

.cool-fact:hover img {
  display: none; }
.cool-fact:hover p {
  display: block; }

/*# sourceMappingURL=style.css.map */
