@import url("https://fonts.googleapis.com/css?family=Dancing Script");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700");
html, body {
  font-family: sans-serif;
  background-image: url("/images/rainbow_wood.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

header {
  position: relative;
  color: #fff;
  height: 900px; }
  header h1 {
    margin: 0;
    font-size: 10em;
    padding-top: 170px;
    text-align: center; }
  header .audio-control {
    margin-left: 65%;
    position: fixed; }
    header .audio-control div {
      position: fixed; }
      header .audio-control div .fa {
        color: #ff8585;
        font-size: 2.5em;
        cursor: pointer; }
      header .audio-control div .fa-play-circle {
        padding-top: 20px;
        position: relative; }
      header .audio-control div .fa-pause-circle {
        position: absolute;
        top: 20px;
        bottom: 0;
        display: none; }
    header .audio-control p {
      font-size: 1.3em;
      text-decoration: underline;
      padding-top: 25px;
      padding-left: 50px; }
  header .greeting {
    text-align: center;
    margin-top: 50px;
    font-size: 1.8em;
    font-weight: bold; }
    header .greeting img {
      border-radius: 50%;
      border: 2px solid #fff;
      width: 175px;
      height: 175px; }

nav {
  position: absolute;
  font-size: 3em; }

.main-nav {
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  padding-left: 25px; }
  .main-nav ul {
    padding: 0; }
  .main-nav a {
    color: #fff;
    text-decoration: none; }
  .main-nav li {
    list-style-type: none; }
  .main-nav .hidden-nav {
    display: none; }

.social-nav {
  position: fixed;
  text-decoration: none;
  padding-right: 25px;
  display: inline;
  top: 0;
  right: 0; }
  .social-nav a {
    text-decoration: none;
    color: #fff; }

.resume {
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 50px;
  width: 100%;
  background-image: url("/images/chalkboard.jpeg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: right; }
  .resume h1 {
    margin: 0; }
  .resume .resume-top {
    padding-top: 25px;
    background-color: #d9fbf1;
    width: 100%;
    height: 200px;
    text-align: center;
    color: grey; }
    .resume .resume-top #initials {
      margin: 0 auto;
      font-family: "Dancing Script", cursive;
      border: 1.5px solid grey;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      font-size: 2em;
      font-weight: lighter; }
    .resume .resume-top #name {
      font-family: "Dancing Script", cursive;
      width: 250px;
      margin: 0 auto;
      font-size: 3em;
      position: relative; }
    .resume .resume-top #name:before {
      content: "";
      position: absolute;
      left: 100px;
      bottom: 0;
      border-bottom: 2px solid grey;
      height: 1px;
      width: 25%; }
    .resume .resume-top p#title {
      padding-top: 10px;
      text-transform: uppercase; }
  .resume .sidebar {
    position: absolute;
    top: 0;
    left: 30px;
    width: 250px;
    padding: 50px 10px;
    height: inherit;
    background-color: #d8bdcf;
    text-align: center; }
    .resume .sidebar img {
      height: 150px;
      width: 150px;
      border: 1px solid white;
      border-radius: 50%;
      margin-bottom: 50px; }
    .resume .sidebar h1 {
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
      background-image: url("/images/chalkboard.jpeg");
      border-radius: 10px;
      padding: 5px 0; }
    .resume .sidebar li span {
      font-size: 0.7em;
      float: right; }
    .resume .sidebar .skills {
      padding-top: 50px;
      text-align: justify; }
      .resume .sidebar .skills h1 {
        margin-bottom: 10px; }
      .resume .sidebar .skills ul {
        padding: 0; }
      .resume .sidebar .skills li {
        list-style-type: none;
        text-transform: uppercase; }
    .resume .sidebar .education p {
      text-transform: uppercase; }
    .resume .sidebar .education h1 {
      margin-bottom: 10px; }
    .resume .sidebar .education .gray {
      color: grey; }
    .resume .sidebar .education span {
      font-family: cursive;
      text-transform: capitalize; }

.resume-main {
  margin: 0 auto;
  padding-top: 50px;
  width: 700px;
  height: 1200px;
  text-align: justify;
  padding-left: 150px; }
  .resume-main div {
    margin-bottom: 50px; }
  .resume-main h1, .resume-main h2, .resume-main h3 {
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px; }
  .resume-main h1 {
    text-transform: uppercase;
    background-color: #d8bdcf;
    border-radius: 10px;
    padding: 5px 0; }
  .resume-main .job {
    padding-bottom: 10px;
    margin-bottom: 25px;
    position: relative; }
  .resume-main .job:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 200px;
    width: 125px;
    height: 125px;
    border-bottom: 1px solid #d8bdcf; }
  .resume-main h3 {
    font-family: cursive;
    font-size: 1.1em; }
  .resume-main p {
    margin-bottom: 5px; }
  .resume-main li {
    margin: 5px 0; }
  .resume-main span {
    padding-left: 20px; }
  .resume-main .border {
    padding: 20px;
    border: 3px dashed white; }
  .resume-main #no-border {
    border: none; }

.cool-facts {
  width: 100%;
  height: 700px;
  background-color: #ff8585; }
  .cool-facts .container {
    padding-top: 50px;
    margin: 0;
    margin-right: -5px;
    width: 100%; }
  .cool-facts .cool-fact {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin-right: 5px; }
    .cool-facts .cool-fact img, .cool-facts .cool-fact p {
      border-radius: 50%;
      width: inherit;
      height: inherit;
      border: 3px solid white; }
    .cool-facts .cool-fact img {
      position: relative; }
    .cool-facts .cool-fact p {
      top: 0;
      right: 0;
      position: absolute;
      display: none;
      text-align: center;
      color: white; }

.pstreet, .ctv {
  margin-left: 75px; }

.music {
  margin-left: 10px; }
  .music p {
    background-color: orange; }

#pstreet-p {
  background-color: yellow; }

#lipstick-p {
  background-color: red; }

#knits-p {
  background-color: pink; }

#tennis-p {
  background-color: lime; }

#frosting-p {
  background-color: lightblue; }

#iphone-p {
  background-color: teal; }

#writing-p {
  background-color: lightgreen; }

#only-p {
  background-color: purple; }

#foodtruck-p {
  background-color: pink; }

#apple-p {
  background-color: orange; }

#ctv-p {
  background-color: darkred; }

#puzzle-p {
  background-color: limegreen; }

.cool-fact:hover img {
  display: none; }
.cool-fact:hover p {
  display: block; }

/*# sourceMappingURL=style.css.map */
